{% extends "layout.html" %}

{% set active_page = "mdb" %}

{% block title %}Match Database{% endblock %}

{% block content %}
  <h1>This is the Match Database</h1>

  <a href="https://rgl.gg/">information from RGL</a>
  <br>
  <form action="/mdb" autocomplete="off">
	<label for="season">filter by season:</label>
	<select id="season" name="season">
		<option value=""></option>
		<option value="11">11</option>
	</select>
	<br>
	<label for="map">filter by map:</label>
	<input type="text" id="map" name="map">
	<br>
	<label for="team1">filter by team:</label>
	<select id="team1" name="team1">
		<option value=""></option>
		<option value="3D3M">3D3M</option>
		<option value="GZ">GZ</option>
		<option value="tb.">tb.</option>
		<option value="-iG.">-iG.</option>
		<option value="LT">LT</option>
		<option value="GPG">GPG</option>
		<option value="512">512</option>
		<option value="G6">G6</option>
		<option value="PSN">PSN</option>
		<option value="FROYO">FROYO</option>
	</select>
	<label for="team2">filter by 2nd team:</label>
	<select id="team2" name="team2">
		<option value=""></option>
		<option value="3D3M">3D3M</option>
		<option value="GZ">GZ</option>
		<option value="tb.">tb.</option>
		<option value="-iG.">-iG.</option>
		<option value="LT">LT</option>
		<option value="GPG">GPG</option>
		<option value="512">512</option>
		<option value="G6">G6</option>
		<option value="PSN">PSN</option>
		<option value="FROYO">FROYO</option>
	</select>
	<br>
	<label for="week">filter by week:</label>
	<input type="text" id="week" name="week">
	<br>
	<label for="playoff">(SPOILERS) playoff games?:</label>
	<select id="playoff" name="playoff">
		<option value="0">no</option>
		<option value="1">yes</option>
	</select>
	<br>
	<input type="submit" value="apply filters">
  </form>
  <br><br>  
  <table style="width:100%">
	<tr>
		<th>Season</th>
		<th>Week</th>
		<th>Home Team</th>
		<th>Away Team</th>
		<th>Map</th>
		<th>Log</th>
		<th>Demo</th>
	</tr>
	{{ htm }}
  </table>

{% endblock %}
